<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/error_messages', obj: @article %>
      <%= form_with(model: @article, class: "shadow mb-5 p-3 bg-info rounded",local: true) do |f| %>
        
        <div class="mb-3">
          <%= f.label :title, class: "fw-bold col-2 col-form-label" %>
          <div class="col-12">
            <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Title of article" %>
          </div>
        </div>
        
        <div>
          <%= f.label :description, class: "fw-bold col-2 col-form-label" %>
          <div class="col-12">
            <%= f.text_area :description, rows: 7, class: "form-control shadow rounded", placeholder: "Description of article" %>
          </div>
        </div>

        <div class="mb-3 text-center">
          <%= f.submit class: "btn btn-outline-dark btn-lg mt-4 ml-10" %>
        </div>

        <div class="text-center">
          <%= link_to '[ Return ]', articles_path, class: "text-center text-dark" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
